<%= form_with(model: expense, local: false) do |form| %>
    <div class="row">
      <div class="col s10 offset-s1">
        <div class="input-field col s12 ">
          <%= form.text_field :spent_for, id: :expense_spent_for, class: 'validate' %>
          <%= form.label :spent_for, class: 'active' %>
        </div>

        <div class="input-field col s6">
          <%= form.number_field :amount, id: :expense_amount, min:0, class: 'active validate'%>
          <%= form.label :amount, class: 'active' %>
        </div>
        <div class="input-field col s6">
          <%= form.text_field :spent_at, id: :expense_spent_at, class: 'datepicker active validate' %>
          <%= form.label :spent_at, class: 'active' %>
        </div>

        <div class="input-field col s12">
          <%= form.text_area :note, id: :expense_note, class: 'active validate materialize-textarea' %>
          <%= form.label :note, class: 'active' %>
        </div>


        <button class="btn col s4 offset-s4">Save</button>
      </div>
    </div>
<% end %>
