<p id="notice"><%= notice %></p>
<div class="container row">
  <div class=" card card-panel col s12">
    <div class="card-title"><h5>Expenses</h5></div>
    <div class="">
    <table class="centered highlight" id="expenses">
      <thead>
      <tr>
        <th>Title</th>
        <th>Amount</th>
        <th>Spent at</th>
      </tr>
      </thead>

      <tbody>
      <% @expenses.each do |expense| %>
          <tr class="expense" id>
            <td><%= expense.title %></td>
            <td><%= expense.amount %></td>
            <td><%= expense.spent_at.strftime("%d %b, %Y") %></td>
          </tr>
      <% end %>
      </tbody>

    </table>
    </div>
    <div class="fixed-action-btn">
      <a href="#addExpense" class="btn-floating btn-large red modal-trigger"><i class="large material-icons">add</i> </a>
    </div>

  </div>
  <div class="card-action">
    <a href="#">This is a link</a>
  </div>
  <!-- Modal Structure -->
  <div id="addExpense" class="modal">
    <div class="modal-content">
      <h5 class="center-align" id="expenseModel">New Expense</h5>
      <%= render partial: 'expenses/form', locals: {expense: current_user.expenses.new} %>
    </div>
  </div>
</div>
