<!DOCTYPE html>
<html>
<head>
  <title>ExpenseManager</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <% if user_signed_in? %>
          <div>
            <a href="#" data-activates="slide-out" class="brand-logo menu-link"><i class="material-icons">menu</i></a>
          </div>
      <% else %>
          <h5 class="brand-logo" style="margin-left: 10px">Expense Manager</h5>
      <% end %>
      <ul class="right">
        <% if user_signed_in? %>
            <li><a href="#profile">Profile</a></li>
        <% else %>
            <li><a href="#aboutUs">About Us</a></li>
            <li><a href="<%= new_user_session_path %>">Sign In /Sign Up</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<ul id="slide-out" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="<%= asset_url('bg2.jpeg')%>" height="200" width="300">
      </div>
      <a href="#!user"><img class="circle" src="<%= asset_url('profile.svg')%>"></a>
      <% if user_signed_in? %>
          <a href="#!name"><span class="white-text name"></span></a>
          <a href="#!email"><span class="white-text email"><%= current_user.email %> </span></a>
      <% else %>
      <% end %>
    </div>
  </li>
  <li><a href="<%= expenses_path %>">Expenses</a></li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
</ul>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>


</body>
</html>

<script>  $(".menu-link").sideNav();
</script>
